@import './variables';

//  MIXINS(like a Functions)
@mixin defaultSettings() {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@mixin bodySettings() {

    display: flex;
    flex-direction: row;
    height:100vh;

}

@mixin centralize() {

    display: flex;
    align-items: center;
    justify-content: center;

}

@mixin fontSetting() { font: 400 16px 'Roboto', sans-serif; }

@mixin setPoppins() { font-family: 'Poppins', sans-serif; }