//  VARIABLES
$whiteColor: #fff;
$otherShadeOfWhiteColor: #fefefe;
$almostGrayColor: #f8f8f8;
$lightWhiteColor: #F4F0FF;
$lightGrayColor: #e2e2e2;
$nullGrayColor: #DBDCDD;
$grayColor: #a8a8b3;
$darkGrayColor: #737380;
$textColor: #29292e;
$purpleColor: #835afd;
$pinkColor: #e559f9;
$redColor: #ea4335;
$poppins: 'Poppins', sans-serif;